:root {
    --gray-1: #ffffff;
    --gray-2: #ebecf0;
    --gray-3: #f2f3f5;
    --gray-4: #333944;
    --gray-5: #23272f;
    --gray-6: #191c22;
    --blue-1: #24c0f5;
    --blue-2: #087ea4;
    --border-radius-round-big: 15px;
    --border-radius-round-small: 6px;
    --border-radius-sharp-big: 4px;
    --border-radius-sharp-small: 0px;
    --transition-time: 0s;
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 6px;
    --space-4: 8px;
    --space-5: 10px;
}

.round {
    --border-radius-big: var(--border-radius-round-big);
    --border-radius-small: var(--border-radius-round-small);
}

.sharp {
    --border-radius-big: var(--border-radius-sharp-big);
    --border-radius-small: var(--border-radius-sharp-small);
}

.light {
    --bg-1: var(--gray-2);
    --bg-2: var(--gray-1);
    --bg-primary: var(--blue-1);
    --writing-color: var(--gray-5);
}


.dark {
    --bg-1: var(--gray-5);
    --bg-2: var(--gray-4);
    --bg-primary: var(--blue-2);
    --writing-color: var(--gray-2);
}

body {
    margin: 0;
    padding: 0;
    color: var(--writing-color);
    font-family: 'Roboto', sans-serif;
}

.bg {
    background-color: var(--bg-1);
}

.bg-content {
    background-color: var(--bg-1);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.button {
    border-radius: var(--border-radius-small);
}

.card {
    background-color: var(--bg-2);
    border-radius: var(--border-radius-small);
    height: 60px;
}

.container {
    background-color: var(--bg-2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

* {
    transition-duration: var(--transition-time);
}


.sidebar {
    border-top-right-radius: var(--border-radius-big);
    border-bottom-right-radius: var(--border-radius-big);
    background-color: var(--bg-1);
    width: 360px;
    padding: 12px;
}

.main-content {
    background-color: var(--bg-2);
    width: 100%;
}

.progress-bar {
    background-color: var(--bg-2);
    border-radius: var(--border-radius-small);
    height: 16px;
    width: 100%;
}

.limit-progress {
    height: 16px;
}

.progress {
    animation-duration: 1.5s;
    animation-name: progress;
    width: 100%;
    border-radius: var(--border-radius-small);
    height: 16px;
    background-color: var(--bg-primary);
}

@keyframes progress{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}