:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
    --green1: #073B3A;
    --green2: #0b6e4f;
    --green3: #08A045;
    --green4: #6BBF59;
    --green5: #21D375;
}

.light {
    --bg: var(--gray0);
    --bg-primary: var(--blue);
}


.dark {
    --bg: var(--gray5);
    --bg-primary: red;
}

* {
    transition: 1s;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: var(--bg);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}
