:root {
    --gray-1: #f2f2f2;
    --gray-2: #d3d7de;
    --gray-3: #8c8c8c;
    --gray-4: #333944;
    --gray-5: #23272f;
    --gray-6: #414958;
    --blue-1: #24c0f5;
    --blue-2: #087ea4;
    --main: #d5b3ff;
    --secondary: purple;
    --border-radius-round-big: 15px;
    --border-radius-round-small: 6px;
    --border-radius-sharp-big: 4px;
    --border-radius-sharp-small: 0px;
    --transition-time: 0s;
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 6px;
    --space-4: 8px;
    --space-5: 10px;
    --modal-width: 600px;
}

.round {
    --border-radius-big: var(--border-radius-round-big);
    --border-radius-small: var(--border-radius-round-small);
}

.sharp {
    --border-radius-big: var(--border-radius-sharp-big);
    --border-radius-small: var(--border-radius-sharp-small);
}

.light {
    --bg-1: var(--gray-2);
    --bg-2: var(--gray-1);
    --bg-3: var(--gray-3);
    --bg-primary: var(--main);
    --bg-secondary: var(--secondary);
    --writing-color: var(--gray-5);
}


.dark {
    --bg-1: var(--gray-5);
    --bg-2: var(--gray-4);
    --bg-3: var(--gray-6);
    --bg-primary: var(--main);
    --bg-secondary: var(--secondary);
    --writing-color: var(--gray-2);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--writing-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-2);
}


.bg {
    background-color: var(--bg-1);
}

.bg-content {
    background-color: var(--bg-1);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.button {
    border-radius: var(--border-radius-small);
}

.card {
    background-color: var(--bg-2);
    border-radius: var(--border-radius-small);
    height: 60px;
}

.container {
    background-color: var(--bg-2);
}

.sidebar {
    border-top-right-radius: var(--border-radius-big);
    border-bottom-right-radius: var(--border-radius-big);
    background-color: var(--bg-1);
    width: 300px;
    padding: 8px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.main-content {
    background-color: var(--bg-2);
    margin-left: 300px;
    padding: 15px;
}


* {
    box-sizing: border-box;
    transition-duration: var(--transition-time);
}

button {
    cursor: pointer;
}

.progress-bar {
    background-color: var(--bg-2);
    border-radius: var(--border-radius-small);
    height: 16px;
    width: 100%;
}

.limit-progress {
    height: 16px;
}

.sidebar-item {
    border-radius: var(--border-radius-small);
    padding: 6px;
    margin: 4px;
    cursor: pointer;
}
.sidebar-item .icon{
    display: none;
}
.sidebar-item:hover .icon{
    display: block;
}

.sidebar-item h3 {
    margin-top: 0;
}

.sidebar-item:hover {
    background-color: var(--bg-3);
}

.progress {
    width: 100%;
    border-radius: var(--border-radius-small);
    height: 16px;
    background-color: var(--bg-primary);

}

.progress-animation {
    animation-duration: 1s;
    animation-name: progress;
}


.sidebar-item:hover .progress{
    animation: blink 1s reverse ;
    animation-iteration-count: infinite;
    box-shadow:-4px -4px 0 rgb(from var(--writing-color) r g b / 0.5), 4px 4px 0 rgb(from var(--bg-primary) r g b / 0.5);
}

@keyframes blink{
    0%{
        box-shadow:0px 0px 0px 0px rgb(from var(--bg-primary) r g b / 0.5);
    }
    100%{
        box-shadow:0px 0px 10px 0px rgb(from var(--bg-primary) r g b / 0.5);
    }
}

@keyframes progress{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.modal {
    background-color: var(--bg-primary);
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);  
}

.drawer {
    background-color: var(--bg-1);
    display: none;
    padding: 15px;
    padding-top: 4px;
    width: 300px;
    height: 100%;
    border-top-left-radius: var(--border-radius-big);
    border-bottom-left-radius: var(--border-radius-big);
}

.drawer h2 {
    text-align: center;

}

.drawer.show {
    display: unset;
    position: fixed;
    height: 100%;
    z-index: 2;
    animation:normal;
    -webkit-animation:normal;
    animation-name: drawer-animation;
    -webkit-animation-name: drawer-animation;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    top: 0;
    right: 0;    
}

@keyframes drawer-animation {
    0% {
        right: calc(-300px);
    }
    100% {
        right: 0%;    
    }
}


.backdrop-modal.show .drawer{
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 350px;
    transition: width 3s;
}

.backdrop-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.backdrop-modal.show{
    display: block;
}


.theme-toggle:hover {
    background-color: var(--bg-2)
}

.theme-toggle {
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
}

.theme-toggle div {
    padding-top: 4px;
}

.flex{
    display: flex;
}

.w-100 {
    width: 100%;
}

.theme-selecto-icons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.column {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.color-sel {
    width: 100%;
    height: 60px;
}




/*  Fliying dropdown  */

.top-button {
    position: fixed;
    background-color: var(--bg-1);
    padding: 8px;
    padding-bottom: 0px;
    width: 60px;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    cursor: pointer;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    transition: top 0.2s;
    top: -245px;
}

.top-button-item {
    padding: 7px;
    padding-top: 10px;
    border-radius: 100%;
}

.top-button-item:hover {
    background-color: var(--bg-2);
}

.top-button:hover {
    top: -220px;
    transition: top 0.2s;
}

.top-button.show {
    top: 0px;
    transition: top 0.2s;
}

.top-button.show #dropMenuIcon{
    margin-bottom: 10px;
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.t-center {
    text-align: center;
}


.image-principal {
    border-radius: var(--border-radius-small);
}

a {
    color: var(--writing-color);
    text-decoration: none;
}

.main-content h1 {
    padding-top: 15px;
    margin-bottom: 4px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 4px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.image-footer {
    margin-top: 4px;
    padding-left: 2px;
}

.image-footer svg {
    position: absolute;

}

.title {
    margin-top: 5px;
}

.text-contact {
    display: inline;
    margin-bottom: 48px;
    margin-left: 22px;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-2);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--bg-1);
    border-radius: var(--border-radius-small);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-3);
  }

.sidebar-item-backdrop {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

.sidebar-item-backdrop.show {
    display: block;
    background-color: rgba(0,0,0,0.4);
}

.sidebar-item.show {
    background-color: var(--bg-3);
    z-index: 100;
    position: fixed;
    top: 140px;
    left: 0; 
    right: 0; 
    width: var(--modal-width);
    margin-left: auto; 
    margin-right: auto;
    animation: open-sidebar-item 1s;
    height: 240px;
    overflow: hidden;
}

.sidebar-item.show:hover {
    cursor: initial;
}

.sidebar-item.show:hover .icon{
    display: none;
}

.sidebar-item .progress-bar-content{
    display: none;
}

.sidebar-item.show .progress-bar-content{
    display: block;
}


@keyframes open-sidebar-item {
    0% {
        width: 264px;
        position: fixed;
        top: 550px;
        left: 14px;
        right: 100%;
        height: 60px;
    }
    60% {
        z-index: 100;
        position: fixed; 
        top: 140px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: var(--modal-width);
        height: 60px;
    }
    100% {
        height: 240px;
    }
}

hr{
    height: 1px;
    background-color: var(--bg-primary);
    border: none;
}

h4 {
    margin: 3px;
}


.image-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-arround;
}

.image-on-section {
    width: 30%;
    padding: 20px;
}


.text-on-section {
    width: 70%;
}

.main-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-row img {
    position: static;
    object-fit: cover;
    width: 40%;
    opacity: 0;
    border-radius: var(--border-radius-small);
}

.main-row section {
    padding: 10px;
    width: 60%;
}


.main-row img.show.left {
    opacity: 1;
    animation: show-image-left 2s;
}

.main-row img.show.right {
    opacity: 1;
    animation: show-image-right 2s;
}

@keyframes show-image-right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-image-left {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        background-color: var(--bg-2);
        --modal-width: 100%;
    }
    .main-content {
        margin-left: 0px;
    }
    .sidebar-item {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .main-row img {
        width: 100%;
    }
    
    .main-row section {
        padding: 10px;
        width: 100%;
    }
}